.user-wrapper {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-detail {
    display: flex;
    align-items: center;
}

.user-detail h4 {
    margin-left: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--color-2);
    object-fit: cover;
}

.user-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.online {
    background: #34eb52;
}

.offline {
    background: var(--color-5)
}

.selected-user {
    background: var(--color-6);
}

.truncate {
    font-size: 14px;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate strong {
    margin-right: 10px;
}

.unread {
    margin-left: 10px;
    background: var(--color-3);
    color: white;
    padding: 2px 4px;
    border-radius: 10px;
}

