:root {
  --color-1: #242526;
  --color-2: #fff;
  --color-3: #0084ff;
  --color-4: grey;
  --color-5: #eb4034;
  --color-6: #333;
}

a {
  text-decoration: none;
}

.register-login {
  max-width: 80%;
  margin: 100px auto 0 auto;
  box-shadow: 1px 2px 10px var(--color-4);
  padding: 10px 20px;
  border-radius: 5px;
}

.register-login h3 {
  text-align: center;
  font-size: 20px;
  color: var(--color-4);
}

.register-login .form {
  margin-top: 30px;
  padding: 0 20px;
}
